<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./bienvenido">Bienvenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./acerca">Acerca</a>
                </li>
            </ul>
        </div>
    </div>
</nav>